<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7a93db54-556c-4a2f-a14f-98af309e8d84/resourceGroups/BincomSession/providers/Microsoft.Web/sites/BoardCasterWebAPI20250604214200</ResourceId>
    <ResourceGroup>BincomSession</ResourceGroup>
    <ApiResourceId>/subscriptions/7a93db54-556c-4a2f-a14f-98af309e8d84/resourceGroups/BincomSession/providers/Microsoft.ApiManagement/service/BoardCasterWebAPIapi/apis/BoardCasterWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://boardcasterwebapi20250604214200-dfcvh4a8f8fef6fu.centralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a5d5a17a-453b-45fa-9ba1-9ee6756d4b4e</ProjectGuid>
    <MSDeployServiceURL>boardcasterwebapi20250604214200-dfcvh4a8f8fef6fu.scm.centralus-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BoardCasterWebAPI20250604214200</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>